# Blacklist all
/*

# Whitelist some files
!.gitignore
!README.md

# Whitelist Packages/User/ and Packages/Dictionaries/
!Packages/
Packages/*
!Packages/User/
!Packages/User/*
Packages/User/Package Control.cache/
!Packages/Dictionaries/
!Packages/Dictionaries/*

# Ignore all files named .DS_Store, ending with .log, etc...
**/.DS_Store
**.log
**.crt
**.cache
**.last-run
**.tmTheme
**ca-bundle
