# Blacklist all
/*

# Whitelist some files
!.gitignore
!README.md

# Ignore all files named .DS_Store, ending with .log, etc...
**/.DS_Store
**.log
**.cache
**.last-run

# Whitelist Packages/User/ and Packages/Dictionaries/
!Packages/
Packages/*
!Packages/User/
!Packages/User/*
!Packages/Dictionaries/
!Packages/Dictionaries/*
